<main>
    <div class="clock">
        <h1>
            Clock placeholder
        </h1>
    </div>
    <div class="belowclock">
        <%# <h1>
            img
        </h1> %>
        <img src="./img/gladlofvenedit.png" alt="Löfven">
    </div>
</main>