/* Mobile version for iPhone 6s */

body {
    background-color: lightblue;
}

.wrap {
    width: 960px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-device-width: 400px) {
    body {
        background-color: lightblue;
        margin: 0;
        padding: 0;
    }

    .wrap {
        width: 100vw;
        height: 667px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    header {
        grid-column: 
    }
}